.signup-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: 760px;
  margin: 0 auto;

  > div {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
}
